---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><RateRequest xmlns="http://fedex.com/ws/rate/v13">  <WebAuthenticationDetail>    <UserCredential>      <Key>DKtlfYgjXnGQj3tx</Key>      <Password>P7i4tx6G6Mgr56AxfrsBaAHOK</Password>    </UserCredential>  </WebAuthenticationDetail>  <ClientDetail>    <AccountNumber>510087968</AccountNumber>    <MeterNumber>100277852</MeterNumber>  </ClientDetail>  <TransactionDetail>    <CustomerTransactionId>ActiveShipping</CustomerTransactionId>  </TransactionDetail>  <Version>    <ServiceId>crs</ServiceId>    <Major>13</Major>    <Intermediate>0</Intermediate>    <Minor>0</Minor>  </Version>  <ReturnTransitAndCommit>true</ReturnTransitAndCommit>  <VariableOptions>SATURDAY_DELIVERY</VariableOptions>  <RequestedShipment>    <ShipTimestamp>2016-01-21T16:52:50-08:00</ShipTimestamp>    <DropoffType>REGULAR_PICKUP</DropoffType>    <PackagingType>YOUR_PACKAGING</PackagingType>    <Shipper>      <Address>        <City>Seattle</City>        <PostalCode>98102</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Shipper>    <Recipient>      <Address>        <City>Los
        Angeles</City>        <PostalCode>90024</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Recipient>    <SmartPostDetail>      <Indicia>PARCEL_SELECT</Indicia>      <HubId>5902</HubId>    </SmartPostDetail>    <RateRequestTypes>ACCOUNT</RateRequestTypes>    <PackageCount>1</PackageCount>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>LB</Units>        <Value>0.625</Value>      </Weight>      <Dimensions>        <Length>10</Length>        <Width>3</Width>        <Height>3</Height>        <Units>IN</Units>      </Dimensions>    </RequestedPackageLineItems>  </RequestedShipment></RateRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wily-Servlet:
      - Encrypt1 GaMcoOotgOSMyoYj73M4dsxJg8pg+egXqWxT0tlCBMozxB2FJoHW86iPptGsWeEMNrrhgg+c1uCrVTL453EE8LUyyZJ0ssHZDmgz/H0Xk331Sy1KEH2kUmXY7Mq3Tf+C2x1dy1Pfusrm9cQUmfaYGUuEozstA5P1NfcGry6IDn85XOqBBonxSdvvC8rf6NI64vf7VP9qCy53EqGXt++8UQ==
      X-Wily-Info:
      - Clear guid=66D1C7F0CC87128A0F996FDFAF62F5EC
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RateReply xmlns="http://fedex.com/ws/rate/v13" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><HighestSeverity>NOTE</HighestSeverity><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>819</Code><Message>The origin state/province code has been changed.  </Message><LocalizedMessage>The origin state/province code has been changed.  </LocalizedMessage></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>820</Code><Message>The destination state/province code has been changed.  </Message><LocalizedMessage>The destination state/province code has been changed.  </LocalizedMessage></Notifications><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTransactionId></TransactionDetail><Version><ServiceId>crs</ServiceId><Major>13</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RateReplyDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><PackagingType>YOUR_PACKAGING</PackagingType><DeliveryStation>SMOA </DeliveryStation><DeliveryDayOfWeek>FRI</DeliveryDayOfWeek><DeliveryTimestamp>2016-01-22T08:00:00</DeliveryTimestamp><CommitDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><CommitTimestamp>2016-01-22T08:00:00</CommitTimestamp><DayOfWeek>FRI</DayOfWeek><DestinationServiceArea>A1</DestinationServiceArea><BrokerToDestinationDays>0</BrokerToDestinationDays><DocumentContent>NON_DOCUMENTS</DocumentContent></CommitDetails><DestinationAirportId>LAX</DestinationAirportId><IneligibleForMoneyBackGuarantee>false</IneligibleForMoneyBackGuarantee><OriginServiceArea>A1</OriginServiceArea><DestinationServiceArea>A1</DestinationServiceArea><SignatureOption>SERVICE_DEFAULT</SignatureOption><ActualRateType>PAYOR_ACCOUNT_PACKAGE</ActualRateType><RatedShipmentDetails><ShipmentRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RateScale>12</RateScale><RateZone>5</RateZone><PricingCode>PACKAGE</PricingCode><RatedWeightMethod>ACTUAL</RatedWeightMethod><DimDivisor>166</DimDivisor><FuelSurchargePercent>16.5</FuelSurchargePercent><TotalBillingWeight><Units>LB</Units><Value>1.0</Value></TotalBillingWeight><TotalBaseCharge><Currency>USD</Currency><Amount>81.16</Amount></TotalBaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><TotalNetFreight><Currency>USD</Currency><Amount>81.16</Amount></TotalNetFreight><TotalSurcharges><Currency>USD</Currency><Amount>17.64</Amount></TotalSurcharges><TotalNetFedExCharge><Currency>USD</Currency><Amount>98.8</Amount></TotalNetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><TotalNetCharge><Currency>USD</Currency><Amount>98.8</Amount></TotalNetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><TotalNetChargeWithDutiesAndTaxes><Currency>USD</Currency><Amount>98.8</Amount></TotalNetChargeWithDutiesAndTaxes><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential delivery</Description><Amount><Currency>USD</Currency><Amount>3.65</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>13.99</Amount></Amount></Surcharges></ShipmentRateDetail><RatedPackages><GroupNumber>0</GroupNumber><PackageRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RatedWeightMethod>ACTUAL</RatedWeightMethod><BillingWeight><Units>LB</Units><Value>1.0</Value></BillingWeight><BaseCharge><Currency>USD</Currency><Amount>81.16</Amount></BaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><NetFreight><Currency>USD</Currency><Amount>81.16</Amount></NetFreight><TotalSurcharges><Currency>USD</Currency><Amount>17.64</Amount></TotalSurcharges><NetFedExCharge><Currency>USD</Currency><Amount>98.8</Amount></NetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><NetCharge><Currency>USD</Currency><Amount>98.8</Amount></NetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential delivery</Description><Amount><Currency>USD</Currency><Amount>3.65</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>13.99</Amount></Amount></Surcharges></PackageRateDetail></RatedPack[...]
